@use "./sass/var";
@use "./sass/mixins" ;
@use "./sass/rules";
body {
    font : {
        family:var.$Font;
        size:12px;
    }
}
.parent {
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
    background-color: white;
    .container{
        max-width: 800px;
        margin: auto;
        @include mixins.Flex-b();
        height: 50px;
    >:nth-child(1){
        @include mixins.Color-and-Cursor
    }
    >:nth-child(2){
        width: 150px;
        @include mixins.Flex-b();
        :nth-child(1):hover {
            @include mixins.Color-and-Cursor
        }
        :nth-child(2):hover {
            @include mixins.Color-and-Cursor
        }
    }
}
}
.bg-body{
    height: 100vh;
    width: 100vw;
    background-color: #F1f5f8;
    top: 0px;
    z-index: -1;
    position: absolute;
    >:nth-child(1){
        padding: 10px 30px;
        font-size: 30px;
        background-color: rgb(36, 36, 36);
        color: white; 
        border: solid 0px ;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 7px;
        >:nth-child(1){
            display: inline-block;
        }
        >:nth-child(2){
            display: inline-block;
            color: var.$Color;
        }
    }
    >:nth-child(2){
        width: max-content;
        padding: 10px 30px;
        font-size: 30px;
        text-align: center;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid rgb(36, 36, 36) ;
        background-color: transparent;
        border-radius: 10px;
        letter-spacing: 7px;
        &:hover{
            color: white;
            background-color: rgb(36, 36, 36);
            cursor: pointer;
        }
    }
}